###### Hardware definitions ######
[neopixel caselight]
pin: PB6
chain_count: 36
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.5
#left side = neopixel:caselight (1-18)
#right side = neopixel:caselight (19-36) (or 36-19 to invert effect)

[neopixel sb_leds]
pin: PB0
#chain_count: 3
chain_count: 10
color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW,  GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0
# logo (Rainbow Barf PCB) = neopixel:sb_leds (1-8)
# nozzle = neopixel:sb_leds (9,10)

###### Effects Definitions ######
##     Ordered by function     ##

### Busy ###
[led_effect logo_busy]
leds: 
	neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
layers:
	static 0 0 add (0.4,0.0,0.0,0.0)

[gcode_macro led_busy]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=nozzle_on

### Calibrating Z (obsolete w/ Tap) ###
[led_effect logo_calibrating_z]
leds: 
	neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
layers:
	comet 0.3 1 add (0.8,0.0,0.35),(0.4,0.0,0.7) 
    comet -0.3 1 add (0.8,0.0,0.35),(0.4,0.0,0.7) 

[led_effect case_calibrating_z]
leds:
    neopixel:caselight (1-18)
    neopixel:caselight (36-19)
autostart: false
frame_rate: 24
layers:
    comet 0.3 6 add (0.8,0.0,0.35),(0.4,0.0,0.7)
    comet -0.3 6 add (0.8,0.0,0.35),(0.4,0.0,0.7)

[gcode_macro led_calibrating_z]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=logo_calibrating_z
    SET_LED_EFFECT EFFECT=nozzle_on
    SET_LED_EFFECT EFFECT=case_calibrating_z
    
### Cleaning ###
[led_effect logo_cleaning]
leds: 
	neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
layers:
    twinkle 2.0 0.05 add (0.00,0.12,0.50) 
    twinkle 0.5 0.10 add (0.00,0.06,1.00) 
    
[led_effect case_cleaning]
leds:
    neopixel:caselight
autostart: false
frame_rate: 24
layers:
    twinkle 4 0.05 add (0.0,0.02,0.5)
    twinkle 2 0.1 add (0.0,0.06,0.2)

[gcode_macro led_cleaning]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=logo_cleaning 
    SET_LED_EFFECT EFFECT=nozzle_on
    SET_LED_EFFECT EFFECT=case_cleaning

### Critical Error ###
[led_effect critical_error]
leds:
    neopixel:sb_leds
    neopixel:caselight
autostart: false
frame_rate: 24
run_on_error: true
layers:
    strobe 1 1.5 add (1.0, 1.0,1.0)
    breathing 2 0 difference (0.95,0.0,0.0)
    static 1 0 top (1.0,0.0,0.0)
    
[gcode_macro led_blinkenlights]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=critical_error ; This activates all LEDs

### Heating ###
[led_effect logo_heating]
leds: 
	neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
heater: extruder
layers:
#	heaterfire 20 1 add (0,0,0.5),(0.5,0,1.0),(0.5,0,0),(1.0,0.5,0.25),(1.0,1.0,0) 
#    heater 150 0 add (0,0,0.5),(0.5,0,1.0),(0.5,0,0),(1.0,0.5,0.25),(1.0,1.0,0)

    # FLIR Ironbow gradient
    static 0 0 subtract (0.5,0.5,0.5)
    heaterfire 20 1 add (0.97,0.99,0.59),(0.92,0.27,0.31),(0.98,0.71,0.00),(0.69,0.04,0.58),(0.08,0.02,0.35) 
    heater 150 0 add  (0,0,0.5),(0.84,0.84,0)

    # FLIR Rainbow gradient
    #static 0 0 subtract (0.5,0.5,0.5)
    #heaterfire 20 1 top (1.00,0.79,0.71),(0.98,0.10,0.26),(0.74,0.83,0.04),(0.00,0.55,0.72),(0.01,0.13,0.45) 
    #heater 150 0 add (0,0,0.5),(0.84,0.84,0)


[led_effect nozzle_heating]
leds: 
	neopixel:sb_leds (9,10)
autostart: false
frame_rate: 24
layers:
    static 0 0 top (0.8,0.35,0.0,0.0)

[led_effect case_heating]
leds:
    neopixel:caselight (1-18)
    neopixel:caselight (36-19)
autostart: false
frame_rate: 24
heater: heater_bed
layers:
    # FLIR Ironbow gradient
    static 0 0 subtract (0.5,0.5,0.5)
    heaterfire 20 1 top (0.97,0.99,0.59),(0.92,0.27,0.31),(0.98,0.71,0.00),(0.69,0.04,0.58),(0.08,0.02,0.35)
    heater 0 0 add  (0,0,0.5),(0.84,0.84,0)

    # FLIR Rainbow gradient
    #static 0 0 subtract (0.5,0.5,0.5)
    #heaterfire 20 1 top (1.00,0.79,0.71),(0.98,0.10,0.26),(0.74,0.83,0.04),(0.00,0.55,0.72),(0.01,0.13,0.45) 
    #heater 0 0 add  (0,0,0.5),(0.84,0.84,0)

[led_effect case_heating_l]
leds:
    neopixel:caselight (1-18)
autostart: false
frame_rate: 24
heater: heater_bed
layers:
    # FLIR Ironbow gradient
    static 0 0 subtract (0.5,0.5,0.5)
    heaterfire 20 1 top (0.97,0.99,0.59),(0.92,0.27,0.31),(0.98,0.71,0.00),(0.69,0.04,0.58),(0.08,0.02,0.35)
    heater 0 0 add  (0,0,0.5),(0.84,0.84,0)

[led_effect case_heating_r]
leds:
    neopixel:caselight (36-19)
autostart: false
frame_rate: 24
heater: heater_bed
layers:
    # FLIR Ironbow gradient
    static 0 0 subtract (0.5,0.5,0.5)
    heaterfire 20 1 top (0.97,0.99,0.59),(0.92,0.27,0.31),(0.98,0.71,0.00),(0.69,0.04,0.58),(0.08,0.02,0.35)
    heater 0 0 add  (0,0,0.5),(0.84,0.84,0)

[gcode_macro led_heating]
gcode:
	STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=logo_heating
    SET_LED_EFFECT EFFECT=nozzle_heating
    SET_LED_EFFECT EFFECT=case_heating_l
    SET_LED_EFFECT EFFECT=case_heating_r

[gcode_macro led_toolhead_heating]
gcode:
    SET_LED_EFFECT EFFECT=logo_cleaning STOP=1 
    SET_LED_EFFECT EFFECT=logo_standby STOP=1
    SET_LED_EFFECT EFFECT=nozzle_on STOP=1 
    SET_LED_EFFECT EFFECT=nozzle_standby STOP=1 
    SET_LED_EFFECT EFFECT=logo_heating
    SET_LED_EFFECT EFFECT=nozzle_heating

### Homing ###
[led_effect nozzle_homing]
leds: 
	neopixel:sb_leds (9,10)
autostart: false
frame_rate: 24
endstops: x, y, z
layers:
    breathing 8 0 add (0,0.6,0.2),(0,0.46,0.15) 
    #homing 4 0 top (1.0,1.0,1.0)
    homing 4 0 top (0.75,0.75,1.0)
    
[led_effect logo_homing]
leds: 
	neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
endstops: x, y, z
layers:
    static 0 0 subtract (0.5,0.5,0.5)
    breathing 8 0 add (0,0.6,0.2),(0,0.46,0.15) 
	chase 0.25 0.25 add (0,0.6,0.2) 
    homing 4 0 top (0.75,0.75,1.0)
    
[led_effect case_homing]
leds:
    neopixel:caselight
autostart: false
frame_rate: 24
layers:
    chase 0.5 5 add (0.08,1.0,0.38),(0,0.35,0.11) 
    breathing 8 0 add (0,0.6,0.2),(0,0.46,0.15) 
    
[gcode_macro led_homing]
gcode: 
	STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=logo_homing
    SET_LED_EFFECT EFFECT=nozzle_homing
    SET_LED_EFFECT EFFECT=case_homing

### Input Shaper ###
[led_effect nozzle_input_shaper]
leds: 
	neopixel:sb_leds (9,10)
autostart: false
frame_rate: 24
layers:
    static 0 0 top (0.25,0.0,0.5)

[led_effect logo_input_shaper]
leds: 
	neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
layers:
    static 0 0 top (0.25,0.0,0.5)

[led_effect case_input_shaper]
leds:
    neopixel:caselight 
autostart: false
frame_rate: 1
layers:
    static 0 0 top (0.25,0.0,0.5)
    
[gcode_macro led_input_shaper]
gcode:
	STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=logo_input_shaper
    SET_LED_EFFECT EFFECT=nozzle_input_shaper
    SET_LED_EFFECT EFFECT=case_input_shaper    
  
### Leveling (Z_tilt_adjust) ###
[led_effect logo_leveling]
leds: 
	neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
endstops: z, probe
layers:
	comet -0.30 0.70 add (0.00,0.50,0.75),(0.00,1.00,1.00)
    homing 3 0 top (0.75,0.75,1.0)

[led_effect case_leveling]
leds:
    neopixel:caselight
autostart: false
frame_rate: 24
layers:
    comet 0.75 3 add (0,0.5,0.75),(0,1.0,1.0) 
    comet -0.75 3 add (0,0.5,0.75),(0,1.0,1.0)

[gcode_macro led_leveling]
gcode:
	STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=logo_leveling 
    SET_LED_EFFECT EFFECT=nozzle_on
    SET_LED_EFFECT EFFECT=case_leveling

### Loading ###
[led_effect logo_loading]
leds: 
	neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
layers:
    static 0 0 subtract (0.5,0.5,0.5)
    stepper 2 2 add (0.00,0.50,0.00),(0.18,1.00,1.00)

[led_effect case_loading]
leds:
    neopixel:caselight (1-18)
    neopixel:caselight (36-19)
autostart: false
frame_rate: 24
layers:
    chase 0.3 0.6 add (0.00,0.50,0.00),(0.18,1.00,1.00)
    
[gcode_macro led_loading]
gcode:
   STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=logo_loading
    SET_LED_EFFECT EFFECT=nozzle_on
    SET_LED_EFFECT EFFECT=case_loading

### Meshing ###
[led_effect logo_meshing]
leds: 
	neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
endstops: z, probe
layers:
    static 0 0 subtract (0.5,0.5,0.5)
	chase -0.30 0.40 add (0.2,1.0,0.0),(0.75,0.79,0.00)
    homing 2.5 0 top (0.75,0.75,1.0)

[led_effect case_meshing]
leds:
    neopixel:caselight
autostart: false
frame_rate: 24 
layers:
    chase 0.25 0.50 add (0.2,1.0,0.0),(0.75,0.79,0.00) 
    chase -0.2 0.50 add (0.2,1.0,0.0),(0.75,0.79,0.00) 
    
[gcode_macro led_meshing]
gcode:
	STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=logo_meshing 
    SET_LED_EFFECT EFFECT=nozzle_on
    SET_LED_EFFECT EFFECT=case_meshing

### Off ###
[led_effect case_off]
leds:
    neopixel:caselight
autostart: false
frame_rate: 1
layers:
  static 0 0 top (0,0,0)
  
[led_effect nozzle_off]
leds: 
	neopixel:sb_leds (9,10)
autostart: false
frame_rate: 24
layers:
	static 0 0 add (0.0,0.0,0.0,0.0)
    
[gcode_macro led_case_off]
gcode:
    SET_LED_EFFECT EFFECT=case_off
    
[gcode_macro led_off]
gcode:
	 STOP_LED_EFFECTS
     
### On ###
[led_effect nozzle_on]
leds: 
	neopixel:sb_leds (9,10)
autostart: false
frame_rate: 24
layers:
	static 0 0 add (0.8,0.8,0.8,1.0)

### Party Time ###
[led_effect logo_party_time]
leds:
    neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
layers:
    gradient 1 1 add (0.07,0,0),(0,0.07,0),(0,0,0.07) 
    
[led_effect nozzle_party_time]
leds:
    neopixel:sb_leds (9,10)
autostart: false
frame_rate: 24
layers:
    strobe 1.25 1.5 add (1.0,0,0,0),(1.0,1.0,0,0),(0,1.0,0,0),(1.0,0,1.0,0),(0,1.0,1.0,0),(0,0,1.0,0) 
    
[led_effect case_party_time]
leds:
    neopixel:caselight
autostart: false
frame_rate: 24
layers:
    twinkle 30 0.2 add (0,0,1.0),(0,1.0,0),(1.0,0,0) 
    gradient 1 2 add (1.0,0,0),(0,1.0,0),(0,0,1.0) 

[gcode_macro led_party_time]
gcode:
 	STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=logo_party_time
    SET_LED_EFFECT EFFECT=nozzle_party_time
    SET_LED_EFFECT EFFECT=case_party_time
    
### Printing ###
[led_effect logo_printing]
leds: 
	neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
layers:
	static 0 0 add (0.0,0.0,1.0,0.0)

[led_effect case_printing]
leds:
    neopixel:caselight
autostart: false
frame_rate: 24
layers:
    static 0 1 top (0.5,0.5,0.5)


[led_effect case_printing_progress_left]
leds:
    neopixel:caselight (1-18)
autostart: false
frame_rate: 24
layers:
    progress 3 0 subtract (0.5,0,1.0),(0.30,0,0.58)
    static 0 1 top (0.5,0.5,0.5)


[led_effect case_printing_progress_right]
leds:
    neopixel:caselight (36-19)
autostart: false
frame_rate: 24
layers:
    progress 3 0 subtract (0.5,0,1.0),(0.30,0,0.58)
    static 0 1 top (0.5,0.5,0.5)
    
    
[gcode_macro led_printing]
gcode:
 	STOP_LED_EFFECTS ;cancel all others
    UPDATE_DELAYED_GCODE ID=led_sleep DURATION=0             # turn off LED sleep timer     
    SET_LED_EFFECT EFFECT=logo_printing 
    SET_LED_EFFECT EFFECT=nozzle_on
    SET_LED_EFFECT EFFECT=case_printing_progress_left
    SET_LED_EFFECT EFFECT=case_printing_progress_right

### Probe Calibrate ###
[gcode_macro led_probe_calibrate]
gcode:
 	STOP_LED_EFFECTS ;cancel all others
    UPDATE_DELAYED_GCODE ID=led_sleep DURATION=0             # turn off LED sleep timer     
    SET_LED_EFFECT EFFECT=logo_standby
    SET_LED_EFFECT EFFECT=nozzle_on
    SET_LED_EFFECT EFFECT=case_printing

### Purge ###
[led_effect logo_purge]
leds:
    neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
layers:
    linearfade 0.75 1.00 top (0.7,0,1.0),(0.25,0.00,0.44) 

[gcode_macro led_purge]
gcode:
 	STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=logo_purge
    SET_LED_EFFECT EFFECT=nozzle_on
    SET_LED_EFFECT EFFECT=case_printing

### Runout ###
[led_effect logo_filament_runout]
leds: 
	neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
layers:
    breathing 6 1 top (1.0,0.0,0.0,0.0)
    static 0 0 top (1.0,0,0,0)
    
[gcode_macro led_filament_runout]
gcode:
    SET_LED_EFFECT EFFECT=logo_filament_runout

### Sleep ###
[delayed_gcode led_sleep]
gcode:
    led_off ; turn off all LEDs
    UPDATE_DELAYED_GCODE ID=led_sleep DURATION=0
    
### Standby ###
[led_effect logo_standby]
leds: 
	neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
layers:
    breathing 12 1 add (0,0,1.0,0.0)
    static 0 0 add (0,0,0.05,0.0)

[led_effect nozzle_standby]
leds: 
	neopixel:sb_leds (9,10)
autostart: false
frame_rate: 24
layers:
    breathing 12 1 add (0,0,1.0,0.0)
    static 0 0 add (0,0,0.05,0.0)

[led_effect case_standby]
leds:
    neopixel:caselight
autostart:          true
frame_rate:         24
layers:
    breathing 12 1 add (0,0,1.0)
    static 0 0 add (0,0,0.05)

[gcode_macro led_standby]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=logo_standby
    SET_LED_EFFECT EFFECT=nozzle_standby
    SET_LED_EFFECT EFFECT=case_standby
    UPDATE_DELAYED_GCODE ID=led_sleep DURATION=7200                      ; Set to turn off LEDs after 2 hours of inactivity
    
### Unloading ###
[led_effect logo_unloading]
leds: 
	neopixel:sb_leds (1-8)
autostart: false
frame_rate: 24
layers:
    static 0 0 subtract (0.5,0.5,0.5)
    stepper 2 2 add (1.0,0,0),(1.0,0.5,0) 

[led_effect case_unloading]
leds:
    neopixel:caselight (1-18)
    neopixel:caselight (36-19)
autostart: false
frame_rate: 24
layers:
    chase -0.3 0.5 add (1.0,0,0),(1.1,0.5,0) 

[gcode_macro led_unloading]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=logo_unloading
    SET_LED_EFFECT EFFECT=nozzle_on
    SET_LED_EFFECT EFFECT=case_unloading