#####################################################################
#   Macros
#####################################################################

[gcode_macro purge_line]
gcode:
  G92 E0 ; zero the extruder
  G90 ; absolute positioning
  G1 X100 Y0.2 ; move to start of purge line
  G1 Z0.4 ; lower nozzle for purge
  G91 ; relative positioning
  G1 X-5 E15 F40 ;extrude a blob (it's huge, reduce)
  M106 P0 ; start part cooling fan 100%
  G1 X-20 Z5 F100 ; move X 20mm left & lift to clear blob
  G1 X-5 Z-5.1 F500 ; drop back down
  G1 X-20 E2 F180 ; extrude a purge line
  G1 X-20 E-1 F500 ; move & retract to break strings & redice ooze
  G1 Z5 ; lift
  M107 P0 ; turn off fan
  G92 E0 ; zero extruder
  G90 ; absolute positioning
  G1 F6000 ; reset printer speed to typical quick move

[gcode_macro G28]
description: G28 homing with SB LED status
rename_existing: G2828
gcode:
  STATUS_HOMING
  G2828 { rawparams }
  STATUS_READY


[gcode_macro Z_TILT_ADJUST]
description: Z_TILT_ADJUST with SB LED status
rename_existing: Z_TILT_ADJUST_BASE
gcode:
  STATUS_LEVELING
  Z_TILT_ADJUST_BASE
  STATUS_READY


[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT
gcode:
    M117 Homing...                 ; display message
    G28
    Z_TILT_ADJUST
    G28
    G0 X125 Y125 Z30 F3600
    STATUS_PRINTING


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    STATUS_READY


[gcode_macro ZUP]
gcode:
    SET_GCODE_OFFSET Z_ADJUST=0.01 MOVE=1


[gcode_macro ZDOWN]
gcode:
    SET_GCODE_OFFSET Z_ADJUST=-0.01 MOVE=1